.navbarlist {
    list-style-type: none;
    text-align: left;
    font-weight: 500;
    font-size: 20px;
}

.navitem {
    display: inline-block;
    padding: 0px 10px;
}

.links {
    text-decoration: none;
    color: black;
}

.links:visited {
    color: black;
}

.container {
    padding: 0px 0px 0px 0px;
}

.navbutton {
    display: inline-block;
    padding: 0px 10px 0px 150px;
}
