.newingredientcontainer {
    padding: 20px 50px 10px 20px;
}

.ingredientlistcontainer {
    padding: 0px 10px 10px 10px;
}

.container {
    display: flex;
}


.ingredientlist {
    list-style-type: none;
    text-align: left;
    font-size: 20px;
}

.listitem {
    padding: 5px 0px 0px 0px;
}

.links {
    text-decoration: none;
    color: black;
}

.links:visited {
    color: black;
}
