.newrecipecontainer {
    padding: 20px 50px 10px 20px;
}

.recipelistcontainer {
    padding: 0px 10px 10px 10px;
}

.container {
    display: flex;
}


.recipelist {
    list-style-type: none;
    text-align: left;
    font-size: 20px;
}

.listitem {
    padding: 5px 0px 0px 0px;
}

.links {
    text-decoration: none;
    color: black;
}

.links:visited {
    color: black;
}

.costcontainer {
    padding: 20px 50px 10px 20px;
}

.editcostcontainer {
    padding: 40px 0 0 0;
}
